// Colors
$color-grey: hsl(0, 0%, 60%);

$color-dark-grey: hsl(0, 0%, 40%);
$color-very-dark-grey: hsl(0, 0%, 27%);

$color-light-grey: hsl(0, 0%, 85%);
$color-very-light-grey: hsl(0, 0%, 93%);

$color-light-blue: hsl(220, 89%, 64%);
$color-light-blue-hover: hsl(220, 87%, 58%);

$color-light-red: hsl(0, 85%, 57%);
$color-light-red-hover: hsl(0, 82%, 51%);

$color-light-green: hsl(122, 63%, 47%);
$color-light-green-hover: hsl(122, 63%, 40%);


// Media query sizes
$media-query-medium: 900px;
$media-query-small: 400px;